[submodule "games/air-defence"]
	path = games/air-defence
	url = https://github.com/octo-kumo/air-defence.git
[submodule "content/ctf"]
	path = content/ctf
	url = https://github.com/octo-kumo/ctf-writeups.git
[submodule "content/htb"]
	path = content/htb
	url = https://github.com/octo-kumo/htb-writeups.git
[submodule "libraries/vue-circuits"]
	path = libraries/vue-circuits
	url = https://github.com/octo-kumo/vue-circuits.git
[submodule "content/blog"]
	path = content/blog
	url = https://github.com/octo-kumo/blog.git
