html,
body,
#app {
  margin: 0;
  padding: 0;
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

html {
  //scroll-behavior: smooth; /* or 'auto' if you prefer instant scrolling */
}
