html,
body,
#app {
  margin: 0;
  padding: 0;
  --font: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-family: var(--font), serif;
}

html {
  --bg-color: #fff;
  background: var(--bg-color);
}

html.dark {
  --bg-color: #181818;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

html {
  //scroll-behavior: smooth; /* or 'auto' if you prefer instant scrolling */
}

.el-text p {
  margin-top: 0;
  margin-bottom: 0;
}

:root {
  --el-transition-color: none !important;
}
